.ImageSection{
    display: flex;
    margin-top: 4rem;
    height: 40vh;
    margin-block-end: 8rem;
    .img{
        width: 84%;
        height: 40vh;
        img{
            width: 100%;
            object-fit: cover;
            
        }

        @media (min-width: 1942px) {
            img{
                width: 50%; 
                object-fit: cover;
                
            }
        }
    }

    
    .about-info{
        margin-left: 2rem;
    
    h4{
        font-size: 2rem;
    }
    .about-text{
        padding: 2rem 0;
    }
    }
}

.about-deatils{
 display: flex;
 p{
    padding: .1rem 0; 
 }
 
}

@media (min-width: 1942px) {
    .responsive-image {
      width: 0%; /* Adjust the width as needed */
    }
  }

.btn{
    margin-top: 1.7rem;
.cv-btn{
   
    padding: 0.5rem 0.3rem;
    background-color: #037FFF;
    color: white;
    font-family: inherit;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}
.cv-btn:hover{
    background-color:  red;
    transition: all .4s ease-in-out;  
}
}


.skill-container{
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 3rem;
    row-gap: 3rem;
}
